.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* Media Queries */

/* risoluzione < 420px */

@media screen and (max-width: 419px) {

  body {
    font-size: 25px;
    text-align: center;
  }

  h1 {
    font-size: 60px;
    color: #428bca;
  }

  h3 {
    font-size: 40px;
  }

  .row {
    width: 100%;
    margin: 0;
  }

/* sezione lezioni */

  #lezioni .row>.left,
  #lezioni .row>.right {
  width: 100%;
  padding: 15px 0;
}

#lezioni .row h3 {
  font-size: 40px;
}

#lezioni .row img {
  height: 100px;
}

/* sezione steps*/

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
  width: 100%;
}

.container.grey {
  background-color: #fff;
}

#steps .row img {
  height: 80px;
}

#steps .row .central img,
#steps .row .right img {
  margin-top: 30px;
}

/* sezione why */

#why .row>.first,
#why .row>.second,
#why .row>.third {
  text-align: center;
  margin: 0;
}

#why .row img {
  height: 40px;
}

#why .row>.second img,
#why .row>.third img {
  margin-top: 30px;
}

#why .row hr {
  display: none;
}

}